doctype html
html
    head 
        title Form Result 
    body 
        h1 Your form input 
        p First name: #{firstName}
        p Last name: #{lastName}
        p City: #{city}
            